/* NOTAS
COLORES:
blanco oscuro #fafaf9
violeta claro #7E4FFF
verde logo #7BF4D9
verde buscar #2ed9b3
violeta oscuro #573CBA
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid{
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}
a:active{
  text-decoration: none;
  color: black;
}
header{
  position: relative;
  background-color: #fff;
  box-shadow: -2px -3px 5px #d1d1d1, 2px 3px 5px #d1d1d1;
  height: 12vh;
  z-index: 2;
}
header .navMenu nav a{
  margin-right: 1em;
  font-weight: 500;
}
header .navMenu nav a:nth-child(2){
  transform: scale(1.1);
}
.btn{
  padding-left: 2em;
  padding-right: 2em;
}
header .btn-outline-secondary{
  border: none;
}
.btn-outline-secondary:hover{
  color: #fff;
  background-color: #7E4FFF;
  border-color: #7E4FFF;
}
.btn-dark{
  color: #fff;
  background-color: #7E4FFF;
  border-color: #7E4FFF;
}
.btn-dark:visited{
  color: #fff;
}
.btn-dark:hover{
  background-color: #573CBA;
  border-color: #573CBA;
}
.btn-success {
  background-color: #2ed9b3;
  border-color: #2ed9b3;
}
.btn-success:hover{
  color: #7E4FFF;
  background-color: #2ed9b3;
  border-color: #7E4FFF;
}
.dropdown-menu{
  width: 93%;
}
#index h2{
  margin-top: 15vh;
}
.h1Container{
  margin-bottom: 1.5em;
}
.h1 {
  color: #7E4FFF;
  font-weight: bold;
  font-size: 2.6em;
}
#searchMenu{
  height: 72.2vh;
  background-color: #fafaf9;
}
.searchContent{
  position: absolute;
  top: 35vh;
}
.searchContent label{
  font-size: 1.2em;
}
.searchContent .btn-outline-secondary{
  color: #7E4FFF80;
  background-color: #fff;
  border-color: LightGray;
  padding-left: 0.3em;
  padding-right: 0;
}
.searchContent .btn-outline-secondary:hover{
  color: #fff;
  background-color: #7E4FFF;
  border-color: #7E4FFF;
}

.searchContent .btn-outline-secondary ion-icon{
  color: #2ed9b3;
  font-size: 1.8em;
  padding-left: 6em;
}
.searchButton button{
  padding: 0.6em 200em;
}
.dropdown-toggle::after {
    display: none;
}
#howItWorks{
  height: 72.2vh;
}
#stories1{
  height: auto;
  background-color: #fafaf9;
}
.storiesDeck{
  margin-bottom: 15vh;
}
.storyCard{
  width: 31.5%;
  background-image: url("http://placehold.it/400x600");
  background-repeat: cover;
  height: 70vh;
  border-radius: 30px;
}
.storyCard ion-icon{
  font-size: 4em;
}
.storyCard ul{
  margin-bottom: 15%;
}
#stories2{
  height: auto;
  background-color: #fff;
}
footer hr{
  display: block;
  height: 1px;
  border: 0;
  width: 83%;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid LightGray;
}
footer nav{
  margin-top: 5vh;
  margin-bottom: 25vh;
}
footer nav a{
  margin-bottom: 2vh;
}
footer nav .h4{
  margin-bottom: 3vh;
}
.netContainer{
  margin-top: 3vh;
}
.netContainer a{
  font-size: 2.6em;
  margin-right: 0.5em;
}
.middleHr{
  display: block;
  height: 1px;
  border: 0;
  width: 43%;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid LightGray;
}
.main p a{
  text-decoration: underline;
}
.loginFormContainer{
  width: 20%;
}
.loginFormContainer input{
  padding: 1em 0.5em;
}
.loginFormContainer input::placeholder{
  color: #573CBA;
}
.loginFormContainer label{
  font-size: 1.3em;
}

.loginFormContainer input[type=date] {
    color: #573CBA;
    opacity: 50%;
    border-radius: 5px;
    padding-left: 3%;
}
.loginFormContainer .submitUser{
  padding: 0.8em 0;
}
.automaticLoginContainer{
  width: 20%;
}
.automaticLoginContainer a{
  width: 100%;
  padding: 0.8em 0;
}
.mainSearch .professionalCard{
  border: 1px dashed red;
  width: 100%;
  height: 45vh;

}
.mapSearchMenu{
  height: 15vh;
  border: 1px solid LightGray;
}
/* Mobile */
@media screen and (max-width: 480px) {
  .desktopNavContainer{
    display: none;
  }
  header{
    height: 18vh;
  }
  .mobileNav{
    background-color: #fff;
    border-radius: solid 1px gray;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .searchContent h1 span{
    display: none;
  }
  .searchContent h1::after{
    content: "Solicitar turno";
  }
  .loginFormContainer{
    width:  80%;
  }
  .automaticLoginContainer{
    width: 80%;
  }
  .mainSingUp2 h1{
    margin-left: 1em;
  }
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobileNavContainer{
    display: none;
  }
  header .navMenu nav a{
    margin-right: 0;
  }
  .logo{
    margin-left: 3%;
    margin-top: 1.6vh;
    transform: scale(1.1);
  }
  .navMenu{
    margin-top: 2vh;
  }
  .btn{
    padding-left: 1em;
    padding-right: 1em;
  }
  .searchImgContainer{
    display: none;
  }
  #searchMenu{
    height: 80vh;
  }
  .searchContent{
    top: 20vh;
  }

  .searchContent h1 span{
    display: none;
  }
  .searchContent h1::after{
    content: "Solicitar turno";
  }
  .cityButtonContainer{
    margin-top: 1vh;
  }
  .searchButton{
    margin-top: 2vh;
  }
  .loginFormContainer{
    width:  50%;
  }
  .automaticLoginContainer{
    width: 50%;
  }
}
/* Small Screen Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mobileNavContainer{
    display: none;
  }
  header .navMenu nav a{
    margin-right: 0;
  }
  .logo{
    margin-left: 4%;
    margin-top: 2vh;
  }
  #searchMenu{
    height: 55vh;
  }
  .searchContent{
    top: 20vh;
  }
  .cityButtonContainer{
    margin-top: 1vh;
  }
  .searchButton{
    margin-top: 2vh;
  }
  .loginFormContainer{
    width:  50%;
  }
  .automaticLoginContainer{
    width: 50%;
  }
}
/* Desktop */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .mobileNavContainer{
    display: none;
  }
}
/* Large Screen */
@media screen and (min-width: 1201px) and (max-width: 1900px){
  .mobileNavContainer{
    display: none;
  }
  header{
    height: 15vh;
  }
  .logo{
    margin-top: 1.6vh;
    transform: scale(1.1);
  }
  .navMenu{
    margin-top: 2vh;
  }
}
@media screen and (min-width: 1901px){
  .mobileNavContainer{
    display: none;
  }
  header{
    height: 15vh;
  }
  .logo{
    margin-top: 1.6vh;
    transform: scale(1.1);
  }
  .navMenu{
    margin-top: 2vh;
  }
  .netContainer{

  }
}
